:root {
    /*  Structure as written in Figma  */

    /* White/Black colors */
    --black: #000000;
    --grayscale-10: #191919;
    --grayscale-20: #333333;
    --grayscale-30: #4C4C4C;
    --grayscale-40: #666666;
    --grayscale-50: #808080;
    --grayscale-60: #999999;
    --grayscale-70: #B2B2B2;
    --grayscale-80: #B2B2B2;
    --grayscale-90: #E5E5E5;
    --white: #FFFFFF;

    /* Structure colors */
    --background: #F1F9FD;

    /* Green */
    --green-primary: #1ACFAA;
    --green-light: #D1F5EE;

    /* Yellow */
    --yellow-primary: #F5C861;
    --yellow-light: #FDF4DF;

    /* Blue */
    --blue-primary: #514FAE;
    --blue-light: #DCDCEF;
    --blue-dark: #413F8B;

    /* Violet */
    --violet-primary: #AB87FF;
    --violet-light: #EEE7FF;
}